.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;


  &:hover {
    opacity: 0.9;
  }

  &-title{
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 20px;
  }

  &-description{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 13px;
  }
}
